sparkGLM.sublime-workspace
sparkGLM.sublime-project
*.class
*.so
*.o
# Package Files #
*.jar
*.war
*.ear
.RData
.Rhistory
unit-tests.log
checkpoints/
target/
lib/
work/
# vim tmps
.*.swp
*.*~
*~
.Rproj.user
SparkR-pkg.Rproj
*.o
*.so
# Eclipse Meta Files
.project
.classpath
sparkGLM_0.1.tar.gz
