#import(SparkR)
export("helloWorldTest")
export("sparkLM",
       "sparkLM.jobj",
       "sparkLM.formula")
export("predict.sparkLM")
export("summaryObj",
       "summaryObj.sparkLM",
       "summary.sparkLM")
